<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- level data 保存关卡基础数据 -->
        <key>level_data</key>
        <dict>
            <!-- 初始金币 -->
            <key>gold</key>
            <string>5000</string>
            <!-- 初始生命值 -->
            <key>life</key>
            <string>30</string>
            <!-- 敌人波数 -->
            <key>wave_count</key>
            <string>3</string>
        </dict>
        <!-- 怪物数据，每一个array代表一波，每一个dict代表一个 -->
        <key>monsters</key>
        <array>
            <array>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>0</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>1</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>0</string>
                </dict>
            </array>
            <array>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>1</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>0</string>
                </dict>
            </array>
            <array>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>1</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>1</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>0</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>0</string>
                </dict>
                <dict>
                    <key>type</key>
                    <string>0</string>
                    <key>path</key>
                    <string>1</string>
                </dict>
            </array>
        </array>
        <!-- 路线数据，每一个array代表一条路，每一个dict代表一个目标点 -->
        <key>paths</key>
        <array>
            <array>
                <dict>
                    <key>x</key>
                    <string>1111.23</string>
                    <key>y</key>
                    <string>491.717</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>1009.4</string>
                    <key>y</key>
                    <string>492.715</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>866.634</string>
                    <key>y</key>
                    <string>492.715</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>789.761</string>
                    <key>y</key>
                    <string>495.71</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>756.815</string>
                    <key>y</key>
                    <string>418.837</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>716.881</string>
                    <key>y</key>
                    <string>363.927</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>663.969</string>
                    <key>y</key>
                    <string>335.973</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>596.08</string>
                    <key>y</key>
                    <string>319.999</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>493.249</string>
                    <key>y</key>
                    <string>329.983</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>369.453</string>
                    <key>y</key>
                    <string>407.854</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>349.485</string>
                    <key>y</key>
                    <string>467.756</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>247.653</string>
                    <key>y</key>
                    <string>476.741</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>189.749</string>
                    <key>y</key>
                    <string>483.73</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>86.9176</string>
                    <key>y</key>
                    <string>486.725</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>30.0113</string>
                    <key>y</key>
                    <string>493.714</string>
                </dict>
            </array>
            <array>
                <dict>
                    <key>x</key>
                    <string>1116.22</string>
                    <key>y</key>
                    <string>489.72</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>835.686</string>
                    <key>y</key>
                    <string>485.727</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>789.762</string>
                    <key>y</key>
                    <string>485.727</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>740.842</string>
                    <key>y</key>
                    <string>594.547</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>671.955</string>
                    <key>y</key>
                    <string>645.464</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>601.072</string>
                    <key>y</key>
                    <string>658.443</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>452.316</string>
                    <key>y</key>
                    <string>655.447</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>358.2</string>
                    <key>y</key>
                    <string>550.62</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>304.289</string>
                    <key>y</key>
                    <string>489.72</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>76.6639</string>
                    <key>y</key>
                    <string>493.713</string>
                </dict>
                <dict>
                    <key>x</key>
                    <string>96.6304</string>
                    <key>y</key>
                    <string>493.713</string>
                </dict>
            </array>
        </array>
    </dict>
</plist>
